@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
}

html {
	font-size: 18px;
}

html,
body,
#svelte {
	margin: 0;
}
#svelte {
	@apply bg-white dark_bg-gray-800;
}
/* body {
	background: white;
} */
/* 
html {
	overflow: hidden;
	height: 100%;
	background: black;
}
body {
	overflow: auto;
	height: 100%;
	overscroll-behavior: none;
} */

h1,
h2,
h3,
h4 {
	font-family: 'Raleway';
	@apply text-black dark_text-lightgray;
}
h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}
p, li {
	font-family: 'Barlow';
	@apply font-normal text-black text-lg dark_text-lightgray;
}
 
a {
	@apply font-semibold dark_font-bold transition;
}

.feather {
	width: 24px;
	height: 24px;
	stroke: black;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
.dark .feather {
	stroke: white;
}