@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
}

html,
body,
#svelte {
	margin: 0;
	@apply bg-white dark_bg-gray-800;
}

h1,
h2,
h3,
h4 {
	font-family: 'Raleway';
	@apply text-black dark_text-lightgray;
}
h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}
p, li {
	font-family: 'Barlow';
	@apply font-medium dark_font-medium text-black dark_text-lightgray;
}
 
a {
	@apply font-semibold dark_font-bold transition;
}